h1{
  font-family: sans-serif;
}
.era-tab{
  font-family: sans-serif;
  background-color: white;
  border: 2px solid black;
}
.avg-tab{
  font-family: sans-serif;
  background-color: gray;
  border: 1px solid black;
}
.nl-tab{
  font-family: sans-serif;
  background-color: white;
  border: 2px solid black;
}
.al-tab{
  font-family: sans-serif;
  background-color: gray;
  border: 1px solid black;
}
.legal-notice{
  font-family: sans-serif;
  color: gray;
  text-align: center;
}
